<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper">

    <select id="findDailyById" resultType="entity.service.Daily">
        select *
        from kotoumi_daily
        where group_id = #{groupId}
          and user_id = #{userId}
          and date(create_time) = #{day}
    </select>

    <insert id="addDaily">
        insert into kotoumi_daily
        set group_id = #{groupId},
            user_id = #{userId},
            sign_in_result = 0,
            draw_result = 0,
            divine_result = 0
    </insert>

    <update id="updateDailySignIn">
        update kotoumi_daily
        set sign_in_result = #{signInResult}
        where group_id = #{groupId}
          and user_id = #{userId}
          and date(create_time) = #{day}
    </update>

    <update id="updateDailyDraw">
        update kotoumi_daily
        set draw_result = #{drawResult}
        where group_id = #{groupId}
          and user_id = #{userId}
          and date(create_time) = #{day}
    </update>

    <update id="updateDailyDivine">
        update kotoumi_daily
        set divine_result = #{divineResult}
        where group_id = #{groupId}
          and user_id = #{userId}
          and date(create_time) = #{day}
    </update>

    <select id="getSignInDays" resultType="Integer">
        select sum(IF(sign_in_result != 0, 1, 0))
        from kotoumi_daily
        where group_id = #{groupId}
          and user_id = #{userId}
    </select>

</mapper>